.address-container{
    max-width: 680px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.address-container h1{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.address-container form{
    display: flex;
    flex-direction: column;
}

.address-container label{
    font-size: 24px;
    font-weight: bold;
    margin-top: 70px;
}

.address-container input[type="text"],
.address-container input[type="tel"],
.address-container input[type="email"]{
    width: 100%;
    height: 45px;
    font-size: 16px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    box-sizing: border-box;
}

.update-button{
    width: 100%;
    height: 60px;
    padding: 12px 16px;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #FF5555;
    color: #fff;
    margin: 100px 0;
}