body {
    font-family: sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.auth-header {
    height: 82px;
    background: #000;
    padding: 20px 30px;
    text-align: left;
    box-sizing: border-box;
}

.auth-header img {
    height: 36px;
}

.auth-content {
    max-width: 680px;
    margin: 40px auto;
    background: #fff;
    padding-bottom: 40px;
}

.auth-content h2 {
    margin: 80px auto 20px auto;
    text-align: center;
    font-size: 36px;
}

.auth-content form div {
    margin-bottom: 25px;
}

.auth-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.auth-content input {
    width: 100%;
    height: 55px;
    padding: 8px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}

.auth-content button {
    display: block;
    width: 100%;
    margin-top: 60px;
    padding: 10px;
    background: #FF5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.switch-link {
    text-align: center;
    margin-top: 20px;
}

.switch-link a {
    text-decoration: none;
    color: #0073CC;
}
