.main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 80px 200px 40px 250px;
}

.user-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-size: 36px;
    font-weight: bold;
}

.btn-edit-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 60px;
    margin-left: auto;
    background-color: #fff;
    border: 2px solid #FF5555;
    border-radius: 10px;
    font-size: 26px;
    text-decoration: none;
    color: #FF5555;
}

.nav-wrapper {
    border-bottom: 1px solid #5F5F5F;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    gap: 20px;
    padding: 0 100px 5px;
}

.nav a {
    text-decoration: none;
    color: #888;
    margin-top: 40px;
    padding: 5px 30px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
}

.nav a.active {
    color: #f00;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    flex: 1;
    margin: 30px 50px;
}

.item {
    text-align: left;
    position: relative;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: 280px;
    border-radius: 5px;
}

.item-name {
    margin-top: 8px;
    font-size: 25px;
    color: #000;
}

.image-container .sold {
    position: absolute;
    top: 10px;
    left: -35px;
    width: 120px;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    transform: rotate(-45deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 5px 0;
    z-index: 10;
}