.profile-edit-container {
    max-width: 680px;
    margin: 60px auto;
}

.profile-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 50px auto;
}

.icon-upload {
    display: flex;
    align-items: center;
    gap: 40px;
}

.user-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-icon-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.btn-upload {
    width: 180px;
    height: 48px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #FF5555;
    border-radius: 10px;
    border: 2px solid #FF5555;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-group label {
    font-size: 24px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    max-width: 680px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid #ccc;
}

.btn-submit {
    width: 100%;
    max-width: 680px;
    height: 60px;
    padding: 17px auto;
    margin: 70px auto 100px auto;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
}