.purchase-wrapper {
    display: flex;
    gap: 20px;
    margin: 70px 60px;
}

.purchase-left {
    flex: 2;
    background: #fff;
    margin-right: 30px;
    padding: 20px;
}

.item-detail {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.item-image {
    width: 177px;
    height: 177px;
    margin-right: 40px;
}

.item-text h2 {
    margin: 0;
    font-size: 30px;
}

.price {
    font-size: 30px;
    color: #000;
    margin: 8px 0 0 0;
}

.payment h3,
.address h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.payment, .address {
    margin: 30px 30px 50px 30px;
    font-size: 20px;
}

.payment-inner {
    margin: 30px 0 60px 40px;
}

.payment select {
    width: 265px;
    height: 31px;
}

.address-inner {
    margin-left: 40px;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-change {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.purchase-right {
    flex: 1;
    width: 440px;
    box-sizing: border-box;
}

.summary-box {
    width: 100%;
    height: 230px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-box .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 60px;
}

.summary-box .divider {
    border: none;
    border-top: 1px solid #000;
    margin: 0;
}

.btn-purchase {
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background: #FF5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}