.show-main {
    display: flex;
    margin: 70px 50px;
    gap: 40px;
    color: #000;
}

.show-image {
    flex: 1;
    margin-left: 80px;
    position: relative;
}

.show-image img {
    width: 100%;
    padding: 25px 0;
    border-radius: 4px;
}

.show-image .sold {
    position: absolute;
    top: 10px;
    left: -35px;
    width: 120px;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    transform: rotate(-45deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 5px 0;
    z-index: 10;
}

.show-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    gap: 5px;
}

.title {
    font-size: 45px;
    font-weight: bold;
}

.brand {
    font-size: 20px;
}

.price {
    font-size: 45px;
    font-weight: normal;
}

.price-yen,
.price-tax {
    font-size: 30px;
    font-weight: normal;
    display: inline-block;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.top-buttons button {
    all: unset;
    border: none;
    padding: 0;
    margin: 20px 25px 0 30px;
    background-color: #fff;
}

.top-buttons img {
    display: block;
    width: 40px;
    height: 40px;
}

.counts {
    display: flex;
}

.counts p {
    margin: 0 45px;
}

.buy-button {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #FF5555;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.sold-button {
    background-color: #E5E5E5;
    color: #fff;
    cursor: not-allowed;
    border: none;
}

.description-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
}

.description {
    padding: 20px 0 20px 0;
    font-size: 24px;
    white-space: pre-wrap;
}

.product-info-section {
    display: flex;
    flex-direction: column;
}

.product-info-section h3{
    font-size: 36px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.info-row div {
    width: 122px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 24px;
}

.category-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.category-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 17px;
    border-radius: 20px;
    padding: 3px 20px;
    font-size: 20px;
    font-weight: 400;
    background-color: #D9D9D9;
    height: 30px;
    white-space: nowrap;
}

.condition p {
    display: inline-block;
    white-space: nowrap;
    font-size: 20px;
    padding-left: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments-header h4 {
    margin: 25px 0;
    font-size: 36px;
    color: #5F5F5F;
    font-weight: bold;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: auto auto;
    gap: 20px 10px;
    align-items: start;
}

.comment img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-user {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

.comment-text {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 60px;
    font-size: 20px;
    background-color: #E5E5E5;
    padding: 5px 8px;
    border-radius: 6px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.comment-form-header h4 {
    margin: 8px 0;
    font-size: 28px;
    font-weight: bold;
}

.comment-form textarea {
    width: 100%;
    min-height: 245px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #000;
    box-sizing: border-box;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}

.comment-form button {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    border-radius: 4px;
    background-color: #FF5555;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border: none;
}