body {
    font-family: sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.auth-header {
    height: 82px;
    background: #000;
    padding: 20px 30px;
    text-align: left;
    box-sizing: border-box;
}

.auth-header img {
    height: 36px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    text-align: center;
    gap: 20px;
}

.container-text {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

.btn-primary {
    background-color: #D9D9D9;
    color: #000000;
    border: 1px solid #000000;
}

.btn-link {
    background: none;
    border: none;
    color: #0073CC;
    text-decoration: none;
    font-size: 20px;
}